{% include 'navigation_bar.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title> Tamil Movie Review</title>
<style>
    p,ol {
        font-family:courier;
    }
</style>

{% endblock %}

{% block content %}
    <center>
        <h2>{{date}} -  Tamil Movie Review</h2>
        <h3>No Spoilers in this Review</h3>
    </center>
    <div class="w3-container well w3-animate-down">

        <div class="w3-container">
            <h2>Last Three ventures:</h2>
            <strong>Director - </strong>

            <br>
            <strong>Hero</strong> <br>

            <br>
            <strong>Heroine</strong><br>

            <br>
        </div>

        <div class="w3-container">
            <h2>Story: </h2>
            <strong>Overall Score - </strong>

            <h2>Screenplay: </h2>

            <strong>Overall Score - </strong>

            <h2>Dialogues:</h2>

            <strong>Overall - </strong>

            <h2>Cinematography:</h2>
            <strong>Overall - </strong>

            <h2>Stunt Sequence:</h2>
            <strong>Overall - </strong>

            <h2>Music & BGM:</h2>
            <strong>Overall - </strong>

            <h2>Lead Performances (Hero, heroine & villain):</h2>
            <strong>Overall - </strong>

            <h2>Supporting Actors Performances:</h2>
            <strong>Special Mention:</strong>

            <h2>Editing:</h2>
            <strong>Overall - </strong>

            <h2>Verdict:</h2>

            <strong>Overall Rating - </strong>
        </div>
    </div>
{% endblock %}