{% include 'navigation_bar.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>Vivegam Tamil Movie Review</title>
<style>
    p,ol {
        font-family:courier;
    }
</style>

{% endblock %}

{% block content %}
    <center>
        <h2>{{date}} - Vivegam Tamil Movie Review - Common man's review</h2>
        <h3>No Spoilers in this Review</h3>
    </center>
    <div class="w3-container well w3-animate-down">
        One of the most anticipated tamil films of 2017 is Vivegam which released today amidst skyrocketing
        expectations. Being a die hard <em>"Thala"</em> myself, I was excited to watch this movie today,
        since Ajith has not had a movie for almost 2 years. His last release was Vedalam in November 2015.<br>
        Does the movie satisfy Thala fans? Does it satisfy neutral movie fans as well? Read on to find out...

        <div class="w3-container">
            <h2>Last Three ventures:</h2>
            <strong>Director - 'Siruthai' Siva</strong>
            Vedalam - Blockbuster<br>
            Veeram - Blockbuster<br>
            Siruthai - Blockbuster<br>
            <br>
            <strong>Ajith Kumar: </strong> <br>
            Vedalam - Blockbuster<br>
            Yennai Arinthaal - Super Hit<br>
            Veeram - Blockbuster<br>
            <br>
            <strong>Kajal Agarwal:</strong><br>
            Kavalai Vendam - Average Grosser <br>
            Paayum Puli - Super Hit <br>
            Maari - Super Hit <br>
            <br>
        </div>

        <div class="w3-container">
            <img src="http://www.behindwoods.com/tamil-movies-cinema-news-16/images/50-second-song-teaser-from-ajith-vivegam-to-be-released-at-12-am-15th-june-photos-pictures-stills.jpg">
            <h2>Story: </h2>
            How an international spy acquits himself after being wanted as a terrorist and how he seeks revenge on those who plot against him.
            This along with strong husband-wife relationship, sentiments forms the backbone of Vivegam.
            <strong>Overall Score - 8.6/10</strong><br>

            <h2>Screenplay & Song Placement: </h2>
            Director Siva mentioned in many interviews that Vivegam is a time-bound script and there are many twists
            inserted at regular intervals. But even though it is a time bound script, I somehow felt the first half was a bit slow and there was no 'whats going to happen next?' kind of factor. Things take pace only in the second half. 
            I felt the song "Veriyera Vidhi maara" was needless though I like the song. As expected, "Never give up" song
            which I love listening to is the intro credit song. All other song placements were good.
            <strong>Overall Score - 1.5/2 </strong><br>

            <img src="http://data1.ibtimes.co.in/cache-img-0-450/en/full/658917/1503408076_ajiths-vivegam-trailer.jpg">
            <h2>Dialogues:</h2>
            Siva's movies are always abundant with excellent dialogues and Vivegam too scores in this department. There
            are many dialogues about friendship, treason, faith, self-confidence, etc. I felt some dialogues were getting repeated
            but in a different way.

            <strong>Overall - 0.8/1</strong><br>

            <h2>Cinematography:</h2>
            Everyone who was part of the movie appreciated DOP Vetri for his excellent work in this film and his visuals
            have certainly uplifted Vivegam to a great extent giving the much hyped 'Hollywood' feel.
            <strong>Overall - 1/1</strong> <br>

            <img src="http://img.nowrunning.com/content/movie/2017/Thala-19304/stills/Vivegam-stills-14.jpg" height="400">
            <h2>Stunt Sequence:</h2>
            I was pleasantly surprised to see in the credits that the stunts were conceived by Director Siva. <br>
                I loved the bike stunt sequence and most of the other ones as well. The first jump in the dam could've been shot
                differently I guess but it was not that bad.<br>
            <strong>Overall - 0.8/1 </strong><br>

            <h2>Music & BGM:</h2>
            When I first heard "AK Theme Music" I just thought it was okay. But when you see it in the movie, pure goosebumps.
            Anirudh is a genius and his BGM is strong and powerful.
            <strong>Overall - 2/2</strong><br>

            <img src="http://www.bollywoodlife.com/wp-content/uploads/2017/07/Vivegam-new-poster.jpg" height="400">
            <h2>Performances:</h2>
            Kajal Agarwal has done a great job. I felt her lip sync was not proper in some scenes.
            Akshara Hassan whose role was under wraps <em>really</em> does play a pivotal role and has done a good job.
            Vivek Oberoi has also done an excellent job. His lip sync is near to perfect considering lot of close up shots.
            Karunakaran scores in the limited screen time he gets. I personally liked his gestures and dialogues for the situational comedy.
            But it's Thala all the way. He looks tired in some scenes but his hardwork and dedication can be seen in all the scenes.
            All other characters, especially the ones who played Mike, Rachel are good with stunts. One thing I hated was that almost all
            foreigners spoke tamil and I really hope this changes in Tamil cinema.
            <strong>Overall - 0.9/1</strong><br>

            <h2>Editing & VFX:</h2>
            Ruben's cuts were very good. The editing was coherent with the screenplay and was nicely done. Kudos to the VFX team and our
            chennai pasanga for their awesome job. Lot of scenes required VFX and we can be proud of this.
            <strong>Overall - 1.6/2 </strong><br>

            <h2>Cons:</h2>
            <ol>
                <li>The friendship between the 5 people (Ajith, Vivek and characters - Mark, Rachel and Sean could have been shown in a stronger way.</li>
                <li>Acquittal of AK was not shown in the climax, okay I agree it is understood but still another minute or two showing that would have been nice.
                Or is there a sequel? :)</li>
            </ol>
            <h2>Verdict:</h2>
            A treat for 'Thala' fans with Ajith's hardwork and dedication captured on screen and it also pays off. Watch out for Thala's six-pack abs scene!<br>
            Not Ajith's fan, the movie is definitely one time watch!!
            <strong>Overall Rating - 8.6/10</strong><br>

            <br><br>

            <iframe src="http://files.quizsnack.com/iframe/embed.html?hash=qhnl70a3&width=250&height=370&wmode=transparent&t=1502936807&width=250&height=370"
                    width="250" height="370" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
{% endblock %}
