{% include 'navigation_bar.html' %}
{% block head %}

{% endblock %}

{% block body %}
<!--    Masters Degrree-->
    <div class="w3-container well w3-animate-right" id="top-link">
        <center>
            <h2>M.S - Electrical Engineering (Specialization: Embedded Systems)</h2>
            <strong>University of Cincinnati, Ohio - USA</strong><br>
            <strong>Dates: September 2011 - August 2014</strong><br>
            <strong>GPA: 3.5</strong>
            <h4>Thesis: <a class="w3-mobile w3-text-blue" href="https://etd.ohiolink.edu/pg_10?0::NO:10:P10_ETD_SUBID:98084" target="_blank">Design and Implementation of Vascular Pattern Recognition System</a></h4>

            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Click to see coursework</button>
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-blue">
                        <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                        <h3>Master's degree Coursework</h3>
                    </header>
                    <ul class="w3-ul w3-padding w3-border">
                        <li>Embedded Systems</li>
                        <li>Advanced Operating Systems</li>
                        <li>Computer Architecture</li>
                        <li>Physical VLSI Design</li>
                        <li>VLSI Testing and Validation</li>
                        <li>Microfabrication of Semiconductors</li>
                        <li>Biomorphic Systems</li>
                        <li>Introduction to Bio-MEMS</li>
                    </ul>
                </div>
            </div>
        </center>
    </div>

    <br><br>
<!--    Bachelor's degree-->
    <div class="w3-container well w3-animate-left">
        <center>
        <h2>Bachelor of Engineering (B.E) Electronics and Communication</h2>
            <strong>Sri Venkateswara College of Engineering, SriPerumbudur, Tamil Nadu - India</strong><br>
            <strong>Dates: August 2006 - May 2010</strong><br>
            <strong>GPA: 3.5</strong><br>
            <h4>Final Year Project: Low Power Scan Testing using VHDL</h4>

            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black">Click to see coursework</button>

            <div id="id02" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-blue">
                        <span onclick="document.getElementById('id02').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                        <h3>Bachelor's degree Coursework</h3>
                    </header>
                    <ul class="w3-ul w3-padding w3-border">
                        <li>Microprocessors and Microcontrollers</li>
                        <li>Data Structures and Object Oriented Programming</li>
                        <li>Computer Networks</li>
                        <li>Communication Theory</li>
                        <li>Digital Signal Processing</li>
                        <li>Digital Electronics</li>
                        <li>Embedded Systems</li>
                        <li>VLSI</li>
                    </ul>
                </div>
            </div>
        </center>
    </div>

    <br><br>
<!--    International Publications-->
    <div class="w3-container well w3-animate-top">
        <center>
            <h2>International Publications and Research Papers</h2>
            <ul class="w3-ul w3-border w3-padding">
                <li>i-Drive - IEEE International Conference PEITS 2009</li>
                <li>Embedded Red Tacton - IEEE International Conference PEITS 2009</li>
                <li>Dynamic Acoustic for dumb using Embedded interface - IEEE Computer Society 2010.</li>
                <li>Energy Conservation using Biogas Fuel for Engines with Embedded Interface for Safety - IPCBEE 2011</li>
            </ul>
        </center>
    </div>

    <br><br>

<!--    Certifications, Awards, Responsibilities held-->
    <div class="w3-container well w3-animate-bottom">
        <center>
            <h2>Responsibilities Held</h2>
            <ul class="w3-ul w3-border w3-padding">
                <li>Secretary of IEEE-USA chapter at University of Cincinnati - 2013</li>
                <li>Secretary of Indian Students Association at University of Cincinnati (2013)</li>
                <li>Treasurer of Society for Appreciation of Bharatiya Heritage and Arts (SABHA) - 2013</li>
                <li>Webmaster of SABHA - 2013</li>
                <li>IT Specialist - University of Cincinnati 2013-2014</li>
            </ul>
        </center>
    </div>

    <br><br>

    <div class="w3-container well w3-animate-left">
        <center>
            <h2>Awards</h2>
            <ul class="w3-ul w3-border w3-padding">
                <li>Spot award for performance at NetApp in 2015</li>
                <li>Special Recognition Award for contribution to IEEE-USA (2013)</li>
                <li>Best director award for short film - <em><b>Nizhalin Nijam (Shadow's Truth)</b></em></li>
            </ul>
        </center>
    </div>

    <br><br>

    <div class="w3-container well w3-animate-right">
        <center>
            <h2>Certifications</h2>
            <ul class="w3-ul w3-padding w3-border">
                <li><strong>AWS Certified Developer Associate - Certified by Amazon</strong>
                    <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2017-12-02&ci=AWS00355649&dm=80"
                       target="_blank" class="w3-text-blue">Certification Link</a>
                </li>
                <!--<li>Java Certified Developer - Certified by Oracle</li>-->
                <li>Embedded System Programmer</li>
                <li>Business English Certificate (BEC) - Vantage</li>
                <li>AMCAT Certified in English Comprehension</li>
            </ul>
        </center>
    </div>
    <center>
        <h2>
            <a href="#top-link" class="w3-text-blue">
                <img src="/static/images/go_up.gif">
            </a>
        </h2>
    </center>

{% endblock %}