{% include 'navigation_bar.html' %}
{% block head %}
    <script>
        $(document).ready(function(){
            $("#jobDetails").click(function(){
                $("#gl-details").slideToggle();
            });
            $("#exJobDetails1").click(function(){
                $("#exJD1").slideToggle();
            });
            $("#exJobDetails2").click(function(){
                $("#exJD2").slideToggle();
            });
            $("#exJobDetails3").click(function(){
                $("#exJD3").slideToggle();
            });
        });
    </script>
{% endblock %}

{% block body %}
<!--    Current job designation and details-->
    <center>
        <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;" id="current-job">
            <header class="w3-container">
                <h2>Senior Software Engineer</h2>
                <img src="static/images/gl-logo.png" style="display:block;">
                    <p>
                        Client - Walgreens Boots Alliance <br />
                        Dates: January 2018 - Present<br />
                        Location: Deerfield, IL - United States <br />
                    </p>
            </header>

            <div class="w3-container">
                <img src="static/images/srik-gl.jpg" width="546" height="463" alt="gl-photo">
            </div>

            <footer class="w3-container w3-blue">
                <button id="jobDetails" class="w3-button w3-blue w3-hover-text-black">Click to show duties and responsibilities</button>
                <div class="w3-container w3-white" style="display:none;" id="gl-details">
                    Project - Pharmacy Prescription Management System Renewal
                    <ul class="w3-ul w3-border">
                        <li>Senior Automation engineer with focus on Systemic Integration Testing (SIT).</li>
                        <li>REST API Testing, Behavior Driven Development using frameworks such as Cucumber, Selenium, Microservices, Kafka & Back end testing.</li>
                    </ul>
                </div>
            </footer>
    </div>
    <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;">
            <header class="w3-container">
                <h2>Senior Software Engineer</h2>
                <img src="static/images/gl-logo.png" style="display:block;">
                <p>
                    Client: Verizon Labs <br />
                    Dates: December 2016 - December 2017<br />
                    Location: Waltham, MA - United States <br />
                </p>
            </header>

            <!--<div class="w3-container">-->
                <!--<img src="static/images/srik-gl.jpg" width="546" height="463" alt="gl-photo">-->
            <!--</div>-->

            <footer class="w3-container w3-blue">
                <button id="exJobDetails1" class="w3-button w3-blue w3-hover-text-black">Click to show duties and responsibilities</button>
                <div class="w3-container w3-white" style="display:none;" id="exJD1">
                    Project - Smart Home Automation: Develop tools and test framework capable of performing end to end testing of the clients IoT application + DevOps.
                    <ul class="w3-ul w3-border">
                        <li>Design and development of entire test framework for testing end to end Internet of Things (IoT) application using Python.</li>
                        <li>Design and development of test scripts and test cases using pyTest for unit, functional and integration testing.</li>
                        <li>Developed automation to verify availability of the cloud and deployed the scripts with Continous Integartion (Jenkins).</li>
                        <li>Developed and maintained a simulator that could simulate any number of devices and gateways. (Java) </li>
                        <li>Analyzed CPU usage and load using jconsole.</li>
                        <li>Developed scripts to get time metrics for different operations with the cloud and created automated graphs and reports using plotly and matplotlib.</li>
                        <li>Developed REST APIs on both server (using sparkJava) and client side (python requests)</li>
                        <li>Developed and deployed web frameworks to allow better usability of the testing tools for developers. Web applications were created using Flask (attached with Apache web server).</li>
                        <li>Developed web tool for automating the process of certifying the z-wave devices.</li>
                        <li>Maintained the health and monitored the entire cloud stack using Mesos and Marathon.</li>
                        <li>Deployed and maintained a local datacenter on Intel NUC from scratch.</li>
                        <li>Interviewed several candidates for different projects within GlobalLogic for roles such as SDET, System Integration Engineer, Lead STE, Senior SDET, etc.</li>
                    </ul>
                </div>
            </footer>
    </div>

<!--    Previous job 1 - NetApp Experience-->
    <div class="w3-card-4 w3-hover-shadow w3-animate-zoom" style="width:50%;">
            <header class="w3-container">
                <h2>Member of Technical Staff (MTS) QA Engineer</h2>
                <img src="static/images/netapp-logo.png" style="display:block;">
                <p>
                    Dates: October 2014 - November 2016<br>
                    Location: Greater Boston Area, MA - United States
                </p>
            </header>

            <div class="W3-container">
                <img src="static/images/srikk-netapp.jpg" width="546" height="463" alt="netapp-photo">
            </div>

            <footer class="w3-container w3-blue">
                <button id="exJobDetails2" class="w3-button w3-blue w3-hover-text-black">Click to show duties and responsibilities</button>
                <div class="w3-container w3-white" style="display:none;" id="exJD2">
                    <strong>NetApp, Inc. is an American multinational storage and data management company.</strong><br>
                    Job Function - QA Engineer for the Storage Operating System (OS)
                    <ul class="w3-ul w3-border">
                        <li>Functional Hardening lead in the team, worked on designing functional hardening workflows for the kernel features.</li>
                        <li>Designing and automation of testcases required for systemic testing of kernel components using Perl.</li>
                        <li>Design and development of test library infrastructure relating to virtual platforms that would help automation for different teams.</li>
                        <li>Automated several workflows that tested the major kernel components of the storage infrastructure OS (on prem and virtual)</li>
                        <li>Developed and maintained a Systemic Continous Integration Test suite (SCIT) for the kernel team </li>
                        <li>Developed tools that helped in easy test workflow for different teams within the organization.</li>
                        <li>Validated more than 300 developer bugs and automated / fixed more than 160 bugs.</li>
                        <li>Filed more than 200 bugs (product & test) after identifying test gaps across different teams in the organization. Performing repros and root cause analysis for different issues.</li>
                        <li>Received SPOT award for performance in 2015.</li>
                    </ul>
                </div>
            </footer>
    </div>

<!--    Previous job 2 - HCL Technologies Experience -->
    <div class="w3-card-4 w3-hover-shadow w3-animate-left" style="width:50%;">
            <header class="w3-container">
                <h2>Software Engineer</h2>
                <img src="static/images/hcl-logo.jpeg" width="200" height="200" alt="hcl-logo" style="display:block;">
                <p>
                    Dates: June 2010 - June 2011 <br>
                    Location: Bengaluru, India.
                </p>
            </header>
            <div class="w3-container">
                <img src="static/images/srik-hcl.jpg" width="546" height="463" alt="hcl-photo">
            </div>

            <footer class="w3-container w3-blue">
                <button id="exJobDetails3" class="w3-button w3-blue w3-hover-text-black">Click to show duties and responsibilities</button>
                <div class="w3-container w3-white" id="exJD3" style="display:none;">
                    <strong>HCL Technologies is an Indian multinational IT services company.</strong><br>
                    Job Function - Software Engineer in Test for IPTV designed by a major Japanese multinational corporation.
                    <ul class="w3-ul w3-border">
                        <li>The duties included testing and debugging the hardware and software functions of an Internet Protocol Television (IPTV).</li>
                        <li>Designed and developed an in-house testing tool (SaberDM Automation Tool) that performed exception analysis, identified the type of exceptions that were auto reported to the client on the server. Developed with C & Visual Basic.</li>
                        <li>Performed complete performance analysis, memory analysis and ageing tests on different regional IPTV boards.</li>
                        <li>Manual, automated testing and stress testing.</li>
                    </ul>
                </div>
            </footer>
    </div>
    </center>
    <br><br><br><br>
    <center><h3><a href="#current-job" class="w3-text-blue">
        <img src="/static/images/go_up.gif">
    </a></h3></center>
{% endblock %}