{% include 'navigation_bar.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="well w3-container">
        <h3>Check out my projects!</h3>
        <ul class="w3-class">
            <!--Current Project-->
            <li><strong>Current Project: Django web application</strong></li>
            <li><strong>Recent Project:</strong>
                <a href="https://www.amazon.com/dp/B077WXBN18/?ref-suffix=ss_copy" target="_blank" class="w3-text-blue">
                    Certified Alexa Skill - getPercentage
                </a> </li>
            <!--Currency converter app-->
            <li><a class="w3-text-blue" target="_blank" href="http://srikkanthgovindaraajan.pythonanywhere.com/">
                Currency Converter web app with real time currency conversion
            </a> </li>
<!--            Personal Website-->
            <li><a class="w3-text-blue" href="/">This website you are looking at.</a></li>
<!--            Weather lookup CLI-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/python_programs/blob/master/weather_lookup.py" target="_blank">Weather lookup CLI application using Wunderground API</a></li>
<!--            Weather lookup GUI using Tkinter-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/python_programs/blob/master/weather_lookup_tkinter.py" target="_blank">Weather GUI App using Wunderground API</a></li>
<!--            File Search GUI using Tkinter-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/python_programs/blob/master/tkinter_file_search.py" target="_blank">File Search GUI using Tkinter</a></li>
<!--            Take a break!-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/python_programs/blob/master/break_time.py" target="_blank">Take a break app using Python</a></li>
<!--            Hangman CLI game-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/python_programs/blob/master/hangman.py" target="_blank">Hangman Game</a></li>
<!--            Some JAVA projects-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/Java-programs" target="_blank">Some Java projects inspired by Martyr's Mega Project Ideas List</a></li>
<!--            Remote surveillance using Raspberry Pi-->
            <li>Raspberry Pi remote surveillance camera using Raspberry pi (model B), motion package, IR Webcam.</li>
<!--            SMS Based Objective-C-->
            <li><a class="w3-text-blue" href="https://github.com/govindsh/SMS-based-ObjectiveC-App" target="_blank">SMS Based Objective-C App & Nexmo API</a></li>
<!--            Master's Thesis-->
            <li><a class="w3-text-blue" href="https://etd.ohiolink.edu/pg_10?0::NO:10:P10_ETD_SUBID:98084" target="_blank">Design and Implementation of a Vascular Pattern recognition System</a></li>
        </ul>
    </div>

{% endblock %}